<html>
  <head>

  </head>
  <body>
    <center><h2>Welcome to the Spot</h2>
    <h3> of documenting and sharing your most embarrassing stories.</h3></center>
    <br><p>Please Sign Up or Log In</p>
    <div id="login">
      <form method="post" action= '/login'>
        Email: <input type="text" name="email"><br>
        Password: <input type="password" name="password"><br>

        <input type="submit" value="Log In">
      </form>
    </div>
<br>
    <form action ='/signup'>
      <input type="submit" value ="Sign Up">
    </form>
  </body>
</html>
